# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom:
/build
/bin
.xmake/
.vscode/
/res/installer
/testbed/
/deps/*
!/deps/cpackage.json
!/deps/pacc.json
!/deps/README.md
*.user.*
premake5.lua
/pacc_packages
compile_commands.json

!premake5.exe
